{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>


<body>

{% if request.user.is_authenticated and not hide_header_and_footer %}
    {% include 'header.html' %}
{% endif %}


<div class="min-h-screen">
    {% block content %}{% endblock %}
</div>


{% if request.user.is_authenticated and not hide_header_and_footer %}
    {% include 'footer.html' %}
{% endif %}

</body>



</html>


